Repository rafaelfl/gitrend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs: update readme with the live preview
  README.md
Due: none

chore: changed the favicon and title/info
  public/favicon.ico
  public/favicon.png
  public/favicon.svg
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/pinned-octocat.svg
Due: prettier --write

fix: changed the default date by the last 7 days
  src/services/api/helpers/fetchGitRepositories.ts
  src/store/features/gitRepository/thunks/fetchRepositoryData.ts
Due: eslint --fix, prettier --write

fix: changed the flex of the trending devs to 0
  src/pages/MainPage/sections/SectionTrendingDevs/styles.css
Due: prettier --write

fix: handle null values from the GitHub API
  src/components/CardRepository/index.tsx
Due: eslint --fix, prettier --write

fix: gitUser slice named fixed
  src/store/features/gitUser/index.ts
Due: eslint --fix, prettier --write

docs: updated the author emoji in the README
  README.md
  src/store/features/gitUser/index.ts
Due: eslint --fix, prettier --write

feat: search in ascending or descending order
  src/pages/MainPage/components/OrderSelector/index.tsx
  src/pages/MainPage/components/OrderSelector/styles.css
  src/pages/MainPage/sections/SectionTrendingRepos/index.tsx
  src/pages/__tests__/__snapshots__/MainPage.integration.spec.tsx.snap
  src/services/api/helpers/fetchGitRepositories.ts
  src/services/api/index.ts
  src/store/features/gitRepository/thunks/fetchRepositoryData.ts
Due: eslint --fix, prettier --write

fix: new searches should load the page 1
  src/pages/MainPage/sections/SectionTrendingRepos/index.tsx
Due: eslint --fix, prettier --write

docs: update README.md
  README.md
  src/pages/MainPage/index.tsx
  src/pages/__tests__/__snapshots__/MainPage.integration.spec.tsx.snap
Due: eslint --fix, prettier --write

docs: update README.md
  README.md
Due: none

chore: update tsconfig for better JSX support
  tsconfig.json
Due: prettier --write

fix: update aria-labels to left and right buttons
  src/components/ListView/index.tsx
  src/components/__tests__/__snapshots__/ListView.spec.tsx.snap
  src/pages/__tests__/__snapshots__/MainPage.integration.spec.tsx.snap
Due: eslint --fix, prettier --write

chore: update packages versions
  src/components/__tests__/__snapshots__/ListView.spec.tsx.snap
  src/components/__tests__/__snapshots__/Loading.spec.tsx.snap
  src/components/__tests__/__snapshots__/Switch.spec.tsx.snap
  src/pages/__tests__/__snapshots__/MainPage.integration.spec.tsx.snap
  yarn.lock
Due: none

chore: update react-scripts version
  package.json
  src/mocks/dataMock.ts
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

v0.1.1
  package.json
Due: prettier --write

feat: add debounce to search input
  src/components/SelectionMenu/index.tsx
  src/hooks/useDebounce/index.ts
  src/hooks/useOutsideClickDetector/index.ts
  src/index.tsx
  src/pages/MainPage/sections/SectionTrendingRepos/index.tsx
  src/pages/__tests__/MainPage.integration.spec.tsx
  src/store/features/gitRepository/thunks/fetchRepositoryData.ts
Due: eslint --fix, prettier --write

chore: update react testing library
  package.json
  yarn.lock
Due: prettier --write

chore: remove types index files from coverage
  package.json
Due: prettier --write

fix: switch buttons opacity for display none
  src/components/ListView/styles.ts
  src/components/__tests__/__snapshots__/ListView.spec.tsx.snap
  src/pages/__tests__/__snapshots__/MainPage.integration.spec.tsx.snap
Due: eslint --fix, prettier --write

fix: update favorites redux state to be an array
  src/pages/MainPage/sections/SectionTrendingRepos/components/RepositoryList/index.tsx
  src/pages/MainPage/sections/SectionTrendingRepos/index.tsx
  src/pages/__tests__/MainPage.integration.spec.tsx
  src/store/__tests__/gitRepositoryReducer.spec.ts
  src/store/features/gitRepository/index.ts
  src/store/features/gitRepository/thunks/fetchRepositoryData.ts
  src/store/features/gitRepository/thunks/tagRepositoryAsFavorite.ts
  src/store/features/gitRepository/thunks/untagRepositoryAsFavorite.ts
Due: eslint --fix, prettier --write

refactor: remove unused try catch
  src/store/features/gitRepository/thunks/fetchRepositoryData.ts
Due: eslint --fix, prettier --write

refactor: improve git user list creation
  src/services/api/helpers/fetchGitRepositories.ts
Due: eslint --fix, prettier --write

chore: update README to include GH star msg
  README.md
Due: none

chore: bump project version
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{js,ts,jsx,tsx}
  prettier --write: ((any of: src/**/*.{js,ts,jsx,tsx}) or (any of: *.json)) or (any of: *.css)
